html {
    box-sizing: border-box;
}

.weathercontainer {
    background-color: #E7703F;
    color: black;
    display: inline-flex;
    flex-direction: column;
    justify-content: space-evenly;
    border: 1px solid black;
    border-radius: 2%;
    width: 30vw;
    height: 50vh;
    padding: .5em;
}

.interiortext {
    padding: .2em;
}

#cardholder {
    display: flex;
}

#map {
    width: 80vw;
    height: 45vh;
    position: absolute;
    margin-left: 10%;
}

#geocoder {
    position:absolute;
    z-index:1;
    width:50%;
    left:40%;
    top:20px;
}

#mapcontainer {
    margin: 0 auto;
}