html {
    box-sizing: border-box;
}

body {
    background-color: #90999b;
}

.headerfont {
    font-family: 'Josefin Sans', sans-serif;
}

.weathercontainer {
    background-color: #9CB4A8;
    color: black;
    display: inline-flex;
    flex-direction: column;
    justify-content: space-evenly;
    border: 1px solid black;
    border-radius: 2%;
    width: 30vw;
    height: 40vh;
    padding: .5em;
}

.interiortext {
    font-size: 1em;
    padding: .2em;
    font-family: 'Lato', sans-serif;
}

#cardholder {
    display: flex;
    justify-content: center;
}

#map {
    width: 80vw;
    height: 45vh;
    position: absolute;
    margin-left: 10%;
    margin-top: 1em;
    border: 1px solid black;

}

#header {
    border-bottom: 1px solid black;
    margin-bottom: 1em;
}



#geocoder {
    position:absolute;
    z-index:1;
    width:50%;
    left:40%;
    top:20px;
}

#mapcontainer {
    margin: 0 auto;
}

